@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@layer base {

    html,
    body,
    #root {
        @apply h-full w-full overflow-x-hidden;
    }

    body {
        @apply font-sans;
    }

    code {
        @apply font-mono;
    }
}

@layer components {
    #root {
        @apply flex flex-col;
    }

    main {
        @apply flex-1 flex flex-col;
    }
}

@layer utilities {
    @media (min-width: 810px) {
        body {
            padding-top: 0;
            /* Remove top padding for iPad and larger */
        }
    }

    @media (min-width: 810px) and (max-width: 1023px) {
        .container {
            max-width: none;
            width: 95%;
        }
    }
}

/* Custom utility for smooth transitions */
.transition-spacing {
    transition: margin 0.3s ease, padding 0.3s ease;
}

