#nav-icon4 {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon4 span:nth-child(1) {
    top: 4px;
  }
  
  #nav-icon4 span:nth-child(2) {
    top: 12px;
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 20px;
  }
  
  #nav-icon4.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon4.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon4.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  